body {
    margin: 0;
    padding: 0;
    background: black;
    color: #f0f;
    font-family: "Courier New", monospace;
    font-size: 18px;
}

#terminal {
    padding: 20px;
    white-space: pre-wrap;
}
