body {
    background: black;
    color: #ff00ff;
    font-family: "Courier New", monospace;
    font-size: 18px;
    padding: 20px;
}

#terminal {
    white-space: pre-wrap;
    line-height: 1.4em;
    padding: 20px;
    white-space: pre-wrap;
}
